# Project 3 part one

In [3]:
#Import libraries
import pandas as pd
import numpy as np

In [4]:
#Load Basics dataset
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

### Filtering/Cleaning Steps:
* Title Basics:

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9376979 entries, 0 to 9376978
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 643.9+ MB

## Exclude any movie with missing values for genre or runtime

In [7]:
#Replace /N with np.nan
basics.replace({'\\N':np.nan}, inplace=True)

In [8]:
#Check for missing data
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1258838
endYear           9278320
runtimeMinutes    6782413
genres             430746
dtype: int64

In [9]:
#Drop runtime, genres, and startYear missing values from dataset
basics = basics.dropna(subset=['runtimeMinutes','genres','startYear'])

In [10]:
#Check new missing values
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear               0
endYear           2391986
runtimeMinutes          0
genres                  0
dtype: int64

## Include only full-length movies (titleType = "movie")

In [11]:
#Creat filter for movie
basics_filter = basics['titleType'] == 'movie'
basics = basics.loc[basics_filter]

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,NaN,45,Drama

## Include only movies that were released 2000 - 2021 (include 2000 and 2021)

In [13]:
#Convert from object to integer to be able to keep years from 2000 and up
basics['startYear'] = basics['startYear'].astype(int)

In [14]:
#Create filter for 2000-2021 and convert back to basics
basics_filter2 =basics['startYear'] >= 2000
basics = basics.loc[basics_filter2]

## Include only fictional movies (not from documentary genre)

In [15]:
# Exclude movies that are included in the documentary category and convert back to basics
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [16]:
#Display new dataframe
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61095,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67642,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77936,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86772,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [17]:
#Load akas dataset
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

### AKAs:
* keep only US movies.
* Replace "\N" with np.nan

In [18]:
#Replace /N with np.nan
akas.replace({'\\N':np.nan}, inplace=True)

## Include only movies that were released in the United States

In [19]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [20]:
#Create filter for us in regions
akas_filter = akas['region'] == 'US'
akas = akas.loc[akas_filter]

In [21]:
#Check for changes
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

### Ratings:
* Replace "\N" with np.nan (if any)
* Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [22]:
#load ratings
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [23]:
#Replace /N with np.nan
ratings.replace({'\\N':np.nan}, inplace=True)

In [24]:
#Display changes
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1736
3  tt0000004            5.6       174
4  tt0000005            6.2      2549

In [25]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

34793       True
61095       True
67642       True
77936      False
86772       True
           ...
9376651     True
9376660     True
9376699    False
9376744     True
9376828    False
Name: tconst, Length: 145364, dtype: bool

In [26]:
#Convert back to original dataframe
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61095,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67642,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86772,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
93908,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9376115,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9376511,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9376651,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9376660,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9376744,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

### Run final .info() for each dataframe before saving and compressing to csv file

In [27]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83794 entries, 34793 to 9376744
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          83794 non-null  object
 1   titleType       83794 non-null  object
 2   primaryTitle    83794 non-null  object
 3   originalTitle   83794 non-null  object
 4   isAdult         83794 non-null  object
 5   startYear       83794 non-null  int32
 6   endYear         0 non-null      object
 7   runtimeMinutes  83794 non-null  object
 8   genres          83794 non-null  object
dtypes: int32(1), object(8)
memory usage: 6.1+ MB

In [28]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1368456 entries, 5 to 33851467
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1368456 non-null  object
 1   ordering         1368456 non-null  int64
 2   title            1368456 non-null  object
 3   region           1368456 non-null  object
 4   language         3727 non-null     object
 5   types            966395 non-null   object
 6   attributes       45324 non-null    object
 7   isOriginalTitle  1367081 non-null  object
dtypes: int64(1), object(7)
memory usage: 94.0+ MB

In [29]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248043 entries, 0 to 1248042
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1248043 non-null  object
 1   averageRating  1248043 non-null  float64
 2   numVotes       1248043 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

In [33]:
# save the final basics dataframe to a compressed csv
basics.to_csv('/Data Enrichment/Week 1/Project 3/basics.csv.gz', compression='gzip',index=False)

In [34]:
# save the final akas dataframe to a compressed csv
akas.to_csv('/Data Enrichment/Week 1/Project 3/akas.csv.gz', compression='gzip',index=False)

In [35]:
# save the final ratings dataframe to a compressed csv
ratings.to_csv('/Data Enrichment/Week 1/Project 3/ratings.csv.gz', compression='gzip',index=False)